chios==0.1.3
doc8==0.7.0
docutils==0.13.1
pyenchant==1.6.8
Pygments==2.15.0
restructuredtext-lint==0.17.2
Sphinx>=1.5.1,<1.6
sphinx-rtd-theme>=0.1.9
sphinxcontrib-spelling==2.3.0
sphinxcontrib-versioning>=2.2.1
tox==2.6.0
